<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-400"><strong>Binge List</strong></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/home']"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/watched']"
            routerLinkActive="active"
            >Watched</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/add']"
            routerLinkActive="active"
            class="nav-link"
            href="#"
            >Add Movie</a
          >
        </li>
      </ul>
      <div class="d-flex">
        <button
          class="btn text-white"
          style="border: 0px !important"
          disabled
          type="submit"
        >
          Search
        </button>
        <input
          class="form-control me-2"
          type="search"
          placeholder="Name/(Tags with space)"
          aria-label="Search"
          [(ngModel)]="enteredSearch"
          (input)="onSearchChange()"
        />
        <button
          class="btn btn-outline-secondary text-white"
          style="border: 0px !important"
          type="submit"
          (click)="logout()"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>
