<app-header (searchText)="onSearchText($event)"></app-header>
<div class="container">
  <div class="row">
    <div
      *ngFor="let movie of movies"
      class="col-md-6 col-lg-3 my-3"
      style="position: relative"
      [ngClass]="
        s === '' ||
        movie.title.toLowerCase().includes(s) ||
        movie.tags!.toString().split(',').join(' ').toLowerCase().includes(s)
          ? 'xls'
          : 'xlsremove'
      "
    >
      <!-- <div class="col-md-6 col-lg-3 my-3"> -->
      <div
        *ngIf="
          s === '' ||
          movie.title.toLowerCase().includes(s) ||
          movie.tags!.toString().split(',').join(' ').toLowerCase().includes(s)
        "
        class="card bg-dark border-secondary mb-3"
      >
        <button class="close rounded-circle" (click)="removeFromList(movie)">
          <span style="position: relative; top: -4.5px">&times;</span>
        </button>
        <a [routerLink]="['/movie/' + movie.id]">
          <img
            src="{{ movie.image }}"
            class="card-img-top img-responsive"
            alt="{{ movie.title }}"
          />
        </a>
        <div class="card-title text-center" style="font-size: large">
          {{ movie.title }}
        </div>
        <div class="card-body">
          <h6 *ngFor="let rating of movie.ratings" class="card-subtitle">
            <i
              *ngIf="
                rating.Source === 'imdb' ||
                rating.Source === 'IMDB' ||
                rating.Source === 'Internet Movie Database'
              "
              class="fas fa-star"
              >{{ rating.Value }}</i
            >
            <div
              *ngIf="
                rating.Source === 'imdb' ||
                rating.Source === 'IMDB' ||
                rating.Source === 'Internet Movie Database'
              "
              style="float: right"
            >
              {{ movie.year }}
            </div>
          </h6>
        </div>
        <div
          style="height: 57px; padding: 0px 15px 0px 15px"
          *ngIf="movie.tags; else noTags"
        >
          <span
            *ngFor="let tag of movie.tags"
            class="badge bg-secondary me-2"
            >{{ tag }}</span
          >
        </div>
        <div class="card-footer">
          <span *ngIf="movie.watched === 'yes'; else removeWatched">
            <button
              (click)="toggleWatched(movie)"
              type="button"
              class="btn btn-danger btn-block w-100"
            >
              Remove from watched
            </button>
          </span>
        </div>
      </div>
      <ng-template #removeWatched>
        <span>
          <button
            (click)="toggleWatched(movie)"
            type="button"
            class="btn btn-warning btn-block w-100"
          >
            Add to watched
          </button>
        </span>
      </ng-template>
      <!-- </div> -->

      <ng-template #noTags>
        <div style="height: 57px; padding: 0px 15px 0px 15px">No tags</div>
      </ng-template>
    </div>
  </div>
</div>
